.container-fluid {
    /* position:absolute; */
    padding:0;
    margin:0;
}

/* navbar */

/* .nav {
    float:right;
} */

.nav-pills {
    position:absolute;
    margin-top:1px;
    top:100;
    right:0;
    /* left:0; */
    z-index:20;
}

.caption_1 {
    font-size:150px;
    position:absolute;
    /* top:30px; */
    width:100%;
    z-index:999;
    background:none;
    margin-top:150px;
    margin-left:10%;
    color:white;
}



/* carousel */

.carousel {
    margin-top:-25px;
}

.carousel-caption {
    /* z-index:10;
    padding-bottom:60px; */
    position:absolute;
    top:0;
}

.carousel-inner .item {
    width:100%;
    height:450px;
    background-size:cover;
    background-position:center;
}

.main_img1 {
    background-image:url('../img/hmong_9.png');
}


.main_img2 {
    background-image:url('../img/calltaker.jpg')
}

.main_img3 {
    background-image:url('../img/books.jpg')
}

/* facts */

.featured {
    margin-top:50px;
}

.fact_1 {
    margin-top:55px;
}



/* footer */

footer {
    margin-top:90px;
    max-height:100%;
    background-color:gray;
    border:5px 5px black;
}











