@import url('https://fonts.googleapis.com/css?family=Arvo|Oswald&display=swap');


.container-fluid {
    padding:0;
    margin:0;
}

.nav-pills {
    position:absolute;
    margin-top:1px;
    top:100;
    right:0;
    z-index:20;
}

.caption_1 {
    font-family:'Arvo';
    font-size:130px;
    position:absolute;
    width:100%;
    z-index:999;
    background:none;
    margin-top:100px;
    margin-left:10%;
    color:#fff;
    text-shadow:-9px -8px black;
}



/* carousel */

.carousel {
    margin-top:-25px;
}

.carousel-caption {
    /* z-index:10;
    padding-bottom:60px; */
    position:absolute;
    top:0;
}

.carousel-inner .item {
    width:100%;
    height:450px;
    background-size:cover;
    background-position:center;
}

.main_img1 {
    background-image:url('../img/culture.jpg');
}


.main_img2 {
    background-image:url('../img/calltaker.jpg')
}

.main_img3 {
    background-image:url('../img/books.jpg')
}

/* section */

.title_name {
    font-family:'Oswald', sans-serif;
    margin-bottom:30px;
    font-weight:bold;
}

.featured {
    margin-top:50px;
}

.fact_1 {
    margin-top:55px;
}



/* footer */

.footer {
    margin-top:90px;
    max-height:100%;
    background-color:rgb(121, 86, 121);
}

.contact_info {
    margin-top:20px;
    color:#fff;
}

.fa-facebook {
    color:#3b5998;
}

.fa-facebook {
    color:#3b5998;
}

.fa-instagram {
    color:#9b6954;
}



/* product css */

.btn {
    background-color:rgb(121, 86, 121);
    color:#fff;
    margin-top:40px;
}

.price_tag {
    font-size:20px;
    color:red;
}

/* contact */

form span::after {
    content:'*';
}


